<html>
    <head>
    </head>
    <body>
        <h3>CLICK ME</h3>
        <div class="result">Result PlaceHolder</div>
        <button class="test">Click Me</button>
        <form class="form" method="post" action="#">
            <h2>Create Login Form Using jQuery</h2>
            <label>Email :</label>
            <input type="text" name="demail" id="email">
            <label>Password :</label>
            <input type="password" name="password" id="password">
            <input type="button" name="login" id="login" value="Login">
        </form>
        <h2 class="example-placeholder">Example PlaceHolder</h2>
        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"></script>
    </body>
</html>